
:root {
--primary-bg: #E0E0E0;         /* Soft Off-White */
--secondary-accent: #0D6EFD;   /* Bootstrap Blue */
--text-color: #212529;         /* Dark Gray-Black */
}

body {
    font-family: 'Newsreader', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}



h1 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 40px;
}

.spotlight h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

header img {
    height: 100px;
    width: auto;
}


header {
    background-color: var(--primary-bg);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--secondary-accent);
}

.hero {
    width: 100%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 1.5rem black;
    margin-bottom: 50px;
}

.cta {
    display: block;
    text-align: center;
    background-color: var(--primary-bg);
    padding: 20px;
    border: 2px solid var(--secondary-accent);
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    width: 200px;
    margin: 0 auto 50px auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    
}

.cta:hover {
    background-color: var(--secondary-accent);
    color: white;
    border: 2px solid var(--secondary-accent);
    font-weight: bold;
}

hr {
    border: 0;
    height: 1.5px;
    background: var(--secondary-accent);
    margin-bottom: 50px;
}

li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-menu a:hover {
    font-weight: bold;
}

.logohead {
    display: flex;
    align-items: center;
    gap: 15px;
}

#cards img {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: auto;
    margin: 0 auto;
}

.list {
    display: grid;
	grid-template-columns: 1fr;
    padding: 30px;
    gap: 15px;
    text-align: left;
    
}

.list section {
    margin: 0 auto;}

.list section img {
    display: none !important;
}

.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
margin: 0 auto;
padding: 30px;
gap: 15px;
justify-items: center;
}


.cards img {
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
}


#cards section {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 350px;
    text-align: center;
    background-color: var(--primary-bg);
}

.events {
    text-align: left;
    padding: 20px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    background-color: var(--primary-bg);
    width: 40%;
}

.events p {
    margin: 5px 0;
    background-color: lightgray;
    padding: 10px;
}

.weather {
    text-align: left;
    padding: 20px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    background-color: var(--primary-bg);
    width: 20%;}

.forecast {
    text-align: left;
    padding: 20px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    background-color: var(--primary-bg);
    width: 20%;}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--primary-bg);
    position: absolute;
    top: 80px;
    right: 20px;
    width: 100%;
    border: 1px solid var(--secondary-accent);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu.active {
    display: flex;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color);
}

/* Dark Mode */

.toggleDark {
    top: 15px;
    right: 100px;
    font-size: 40px;
    background: none;
    padding: 5px;
    color: var(--secondary-accent);
    border: none;
    cursor: pointer;
}
.dark-mode .events p,  .dark-mode h2:not(.not), .dark-mode .currentweather p, .dark-mode form label, .dark-mode form legend {
    color: white;
}

.dark-mode {
    background-color: #121212;
}


.dark-mode .nav-menu.nav-menu.active {
    background-color: #121212;
    box-shadow: 0 0 30px white;
}

.dark-mode #cards section {
    background: #121212;
    border: white 1px solid;
    color: white;
}

.dark-mode .nav-menu a {
    color: white;
    list-style: none;
}

.dark-mode a {
    color: #0d6efd;
}

.dark-mode .cta {
    background-color: #121212;
    border: 2px solid #0d6efd;
    color: #0d6efd;
}

.dark-mode .cta:hover {
    background-color: #0d6efd;
    color: white;
    border: 2px solid #0d6efd;
    font-weight: bold;
}

.dark-mode .weather, .dark-mode .events, .dark-mode .forecast {
    background-color: #121212;
    box-shadow: 0 0 30px white;
}

.dark-mode .events p {
    background-color: #333;
}

.dark-mode footer, .dark-mode header, .dark-mode h1, .dark-mode .weather span, .dark-mode .weather figcaption, .dark-mode .forecast h3, .dark-mode .forecast p, .dark-mode .joinmain .cards {
    filter: invert(1);
}

.currentweather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.weather figure img {

    height: 70px;
    width: auto;
    margin: 0;
    
}

#forecast {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}
/* Hamburger*/

.hamburger {
        display: block;
        top: 10px;
        right: 10px;
        font-size: 30px;
        background: none;
        padding: 5px;
        color: var(--blue-primary);
        border: none;
        cursor: pointer;
        font-size: 50px;
        color: var(--text-color);
        
    }

    main div button {
        display: block;
        gap: 30px;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid var(--secondary-accent);
        border-radius: 10px;
        background-color: var(--primary-bg);
        color: var(--text-color);
        cursor: pointer;
        margin: 0 auto;
    }

    .view-buttons {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    main div button:hover {
        background-color: var(--secondary-accent);
        color: white;
        border: 2px solid var(--secondary-accent);
        font-weight: bold;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        flex-direction: row;
        text-align: center;
        padding: 10px;
        background-color: var(--primary-bg);
        color: var(--text-color);
        margin-top: 20px;
        border-top: 2px solid var(--secondary-accent);
    }

    .card1, .card2, .card3, .card4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: var(--secondary-accent);
        padding: 10px;
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 2px black;
        margin: 10px;
        width: 90%
       }




    .cards h2 {
        text-shadow: 0 0 1px black;
    }

     .cards a {
        color: black;
        background-color: var(--primary-bg);
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
     }

     .cards a:hover {
        border: 2px solid var(--secondary-accent);
        font-weight: bold;
     }

     dialog {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 1rem black;
        padding: 20px;
        max-width: 500px;
        width: 90%;
     }

    dialog::backdrop {
            background: rgba(0, 0, 0, 0.8);
        }

   .yourinfo {
  display: flex;           
  flex-direction: column;   
  gap: 10px;                
  padding: 15px;
  border-radius: 8px;
}

.yourinfo label {
  display: flex;
  flex-direction: column;  
  font-weight: bold;
}

.yourinfo input, .yourinfo select, #membershipLevel, textarea {
  padding: 8px;             
  border: 1px solid #ccc;  
  border-radius: 4px;      
  font-size: 1rem;   
    width: 90%;

}

.card1, .card2, .card3, .card4 {
    animation: simpleFadeIn 2.5s ease-in;
}

@keyframes simpleFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (max-width: 767px) {

    .indexcontent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    }

}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        box-shadow: none;
        width: auto;
        border: none;
        font-size: 1.5rem;
    }

    .nav-menu li {
        margin: 0 20px;
    }

    .nav-menu a:hover {
        color: var(--main-color);
    }

    .dark-mode .nav-menu a {
        color: black;
    }

    .indexcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

     .joinpage main  {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;     
        gap: 30px;                 
        align-items: flex-start;   
        justify-content: center;   
        flex-wrap: wrap;  
        margin-left: 20px;    
    }

    .yourinfo {
        width: 125%;
    }
    

}