:root {
--primary: white;
--primary2: #BBC2C2;

--text: white;
--text2: #f2f2f2;

--background: #02025A;
--background2: #02020D;

--hg: #030485;
--extra:  #1F1B21;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--text2);
}
