
:root {
--primary: white;
--primary2: #BBC2C2;

--text: white;
--text2: #f2f2f2;

--background: #02025A;
--background2: #02020D;

--hg: #030485;
--extra:  #1F1B21;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--text2);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--background2), #02025A, var(--text2));
    padding: 50px 0;
    margin-bottom: 100px;
    border: none;
    animation: fadeInDown 1s forwards;
}

header img {
    border-radius: 50%;
    border: 4px solid var(--text);
    box-shadow: var(--extra) 1px 5px 15px;
    margin-bottom: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li a {
    color: var(--text);
    text-decoration: none;
    font-weight: 250;
    font-size: 3em; 
    transition: 0.3s ease-in-out;
    text-shadow: 3px 10px 10px rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
}

header nav ul li a:hover {
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

footer {
    background: linear-gradient(var(--background2), #02025A, #02025A, var(--background2));
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
    font-style: italic;
    font-weight: 300;
}
footer p {
    text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    color: var(--text);
}

footer a {
    color: var(--text);
    text-decoration: none;
    margin: 0 15px;
}

footer a:hover {
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
    color: var(--hg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 200;
}

/* Index Page */
.hero {
    margin: 0 auto;
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    max-height: 720px;
    max-width: 1366px ;
    overflow: hidden;
    box-shadow: var(--hg) 1px 5px 15px;
}

.hero h1 {
    font-size: 2.5em;
    color: var(--text);
    font-weight: 200;
    padding: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--background2);
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
    }

.hero h1:hover {
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    animation: fadeInDown 1s forwards
}

.indexcontent {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--extra);
}

.indexcontent h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--hg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.indexcontent p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.map iframe {
    border: 2px solid var(--hg);
    border-radius: 10px;
    box-shadow: var(--hg) 1px 5px 15px;
}

/* Schedule Page. This one should have two forms. One to schedule an appointment, and the other for complaints, requests, etc. */

form {
    background-color: var(--text2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--hg) 1px 5px 15px;
    max-width: 600px;
    margin: 0 auto 50px auto;
    text-align: left;
}

form h2 {
    text-align: center;
    color: var(--hg);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--extra);
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--hg);
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: var(--hg);
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--background);
    transform: scale(1.05);
}

/* Catalogue Page */

.catalogueCards{
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: 0 auto 50px auto;
}

.catalogueCards figure {
    margin: 0;
    padding: 0;
}

.catalogueCards img {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: var(--hg) 1px 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.catalogueCards button {
    background-color: var(--hg);
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.catalogueCards button:hover, .catalogueCards a:hover{
    background-color: var(--background);
}


/* Miscelaneous */

h3 {
    margin: 10px 0;
    font-weight: 200;
}

.hamburger {
    font-size: 40px;
    color: var(--text);
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#visitMessage {
    background-color: var(--hg);
    color: var(--text);
    border-radius: 5px;
    font-size: 1.2em;
    box-shadow: var(--extra) 1px 5px 20px;
    max-width: 600px;
    margin: 50px auto;
    animation: fadeInDown 1s forwards;

}

#visitMessage p {
    margin: 0;
    padding: 10px;
    font-weight: 200;
}



/*animations*/


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 639px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    header nav ul li a {
        font-size: 1.5em;
    }

    .navmenu {
    display: none;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    font-size: 2rem;
    top: 80px;
    right: 20px;
    width: 100%;
    border: 1px solid var(--secondary-accent);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(var(--background2), #02025A);
}

.navmenu.active {
    display: flex;
}

.hamburger {
    font-size: 50px;
    color: var(--text);
    background: none;
    border: none;
}

.hero h1 {
    font-size: 1.2em;
    color: var(--text);
    font-weight: 200;
    padding: 25px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--background2);
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(10px);
    }

.indexcontent {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-top: 100px;
}

.map iframe {
    border: 2px solid var(--hg);
    border-radius: 10px;
    box-shadow: var(--hg) 1px 5px 15px;
    margin-top: 50px;
    width: 100%;
    height: 300px;
}


}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    header nav ul li a {
        font-size: 2em;
    }

    .navmenu {
    display: none;
    flex-direction: column;
    gap: 75px;
    text-align: center;
    font-size: 2rem;
    top: 80px;
    right: 20px;
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-accent);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(var(--background2), #02025A);
}

.navmenu.active {
    display: flex;
}

.hamburger {
    font-size: 50px;
    color: var(--text);
    background: none;
    border: none;
}

}

@media only screen and (min-width: 1024px) {
    header nav ul li {
        display: inline-block;
        margin: 0 30px;
    }

    header nav ul li a {
        font-size: 2.5em;
    }

    header img {
        margin-right: 75px;
    }

    .hamburger {
        display: none;
    }

    .indexcontent {
        grid-template-columns: 1fr 1fr;
    }

    .catalogueCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);}

    .catalogueCards img:hover {
        transform: scale(1.05);
        transition: 0.4s ease-in-out;
        rotate: 1deg;
    }
}